:root {
  --primary-bg: rgb(15, 15, 15);
  --primary-text: white;
  --secondary-text: rgb(200, 200, 200);
  --primary-border: rgb(80, 80, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-block: 10px;
  padding-inline: 200px;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--primary-border);
  background-color: var(--primary-bg);
  z-index: 100;
}

.nav-link {
  color: var(--secondary-text);
  font-size: 20px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--primary-border);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px 200px;
}

.hero-title {
  color: var(--primary-text);
  font-weight: bold;
  font-size: 35px;
}

.hero-description {
  color: var(--secondary-text);
  font-size: 18px;
  text-align: center;
  line-height: 28px;
  width: 40%;
}

.projects-search {
  margin-inline: calc(50% - 250px);
  width: 500px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-size: 20px;
  border: 2px solid var(--primary-border);
  border-radius: 500px;
  padding: 10px 30px;
  outline: none;
}

.message {
  color: var(--secondary-text);
}

.message a {
  color: var(--secondary-text);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-inline: 100px;
  padding-block: 50px;
}

.project {
  border: 2px solid var(--primary-border);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 250px;
  cursor: pointer;
  color: var(--secondary-text);
  font-size: 15px;
  line-height: 20px;
}

.project-name {
  color: var(--primary-text);
  font-size: 18px;
}

.project-tags {
  display: flex;
  gap: 5px;
}

.project-tag {
  background-color: var(--primary-border);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.footer {
  text-align: center;
  padding-block: 50px;
  color: rgb(150,150,150);
  font-size: 15px;
  border-top: 2px solid var(--primary-border);
}

.footer-link {
  color: rgb(150, 150, 150);
}